body{
    margin:0;
    padding:0;
    background: url(https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80.jpg);
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
    opacity:0.75;
}

.avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left:calc(50%  - 50px);
}
.loginbox{
    width: 380px;
    height:570px;
    background:rgb(241, 236, 236);
    color : #000;
    top : 50%;
    left :50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding:70px 30px;
    box-shadow: 20px 20px 10px black;
}

.loginbox h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin:0;
    padding:0;
    font-weight: bold;
 }
 .loginbox input{
     width: 80%;
     margin-bottom: 20px;
 }
.loginbox input[type="text"], input[type="password"], input[type="email"], input[type="number"]
{
    border:none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height:25px;
    color: #000;
    font-size: 16px; 
}
.loginbox input[type="submit"]
{
    border-radius: 30px;
    background-color:grey;
    border: none;
    color:black;
    text-align: center;
    width: 150px;
    transition: all 0.5s;
    cursor:pointer;
    margin: 20px;
    text-shadow: 2px 2px 2px grey;
    font-size:20px;
    padding: 5px;
}

.loginbox input[type="reset"]
{
    border-radius: 30px;
    background-color:grey;
    border: none;
    color:black;
    text-align:center ;
    width: 150px;
    transition: all 0.5s;
    cursor:pointer;
    margin: -50px;
    text-shadow: 2px 2px 2px grey;
    font-size:20px;
    padding: 5px;
}




.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background:brown;
    color:#000;
}

.loginbox input[type="reset"]:hover
{
    cursor:pointer;
    background:brown;
    color:#000;
}

.loginbox a:hover
{
color: #e72222;
}
.title{
   position: absolute;
   left:2%;
  
 }
.title h1{
  color:ivory;
  font-size: 50px;
  font-family: Haettenschweiler;
  text-shadow: 3px 3px 3px #000;
}
.title h2{
    color:rgb(220, 228, 228);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 3px 3px 3px #000;
}
*{
    margin:0;
    padding:0;
  }
  .row1{
      width: 500px;
      cursor:pointer;
      text-shadow: 2px 2px 2px grey;
      padding: 2px;
      border-radius: 2px;


  }
.form-align{
    text-align: center;

    

}



footer {
    font-family: "montserrat-regular", sans-serif;
    font-size: 8px;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
}

footer a, footer a:visited {
    color: #862121;
}

footer a:hover, footer a:focus {
    color: rgb(12, 11, 11);
}

.footer-social {
    list-style: none;
    margin-top: 3rem;
    margin-left: 0;
    font-family: "montserrat-regular", sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.footer-social:after {
    content: "";
    display: table;
    clear: both;
}

.footer-social li {
    display: inline-block;
    padding-left: 0;
    margin-right: .9rem;
    line-height: 3.9rem;
    vertical-align: middle;
}

.footer-social li::after {
    content: "|";
    color: rgba(20, 20, 20, 0.15);
    padding-left: 20px;;
}

.footer-social li i {
    font-size: 40px;
    line-height: 20px;;
    vertical-align: middle;
}

.footer-social li span {
    margin-left: 20px;
}

.footer-social li a {
    color: rgb(5, 5, 5);
}
.footer-social li a:hover{
    color: rgb(199, 37, 37);
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social li:last-child::after {
    display: none;
}
.footer-social li span, .footer-social li::after {
        display: none;
    }
.footer-bottom{
  background:rgb(49, 49, 49);
  color:rgb(172, 167, 167);
  height:30px;
  text-align:center;
  position: absolute;
  bottom:0px;
  font-size:15px;
  padding-top:10px;
  width:100%;
  letter-spacing: 1px;
}